scripts/vdhcoapp*/
scripts/git_config.sh
share/grub-themes
share/libvirt-vms
share/plymouth-themes/
share/dconf-settings-backup.dconf
share/avatar
backups/
backup_latest/etc
backup_latest/root
backup_latest/usr
backup_latest/home/bnsplit/.config/ags/
backup_latest/home/bnsplit/.config/bnsplit/cache/
backup_latest/home/bnsplit/.config/bnsplit/colors/
backup_latest/home/bnsplit/.config/bnsplit/scripts/wallhaven.sh
backup_latest/home/bnsplit/.config/bnsplit/scripts/webcam_share.sh
backup_latest/home/bnsplit/.config/bnsplit/scripts/webcam_stream.sh
backup_latest/home/bnsplit/.config/spicetify/
backup_latest/home/bnsplit/.config/kdeconnect/
backup_latest/home/bnsplit/.config/*.bak
backup_latest/home/bnsplit/.fonts
backup_latest/home/bnsplit/.zsh_history
backup_latest/home/bnsplit/.bashrc
backup_latest/home/bnsplit/.bash_history
backup_latest/home/bnsplit/.gitconfig
backup_latest/home/bnsplit/.icons/Papirus/
backup_latest/home/bnsplit/.zen/
backup_latest/home/bnsplit/.themes/adw*
backup_latest/home/bnsplit/.themes/Colloid*
backup_latest/home/bnsplit/.themes/Orchis*
backup_latest/home/bnsplit/.themes/Gruv*
backup_latest/home/bnsplit/.themes/Yaru*
backup_latest/home/bnsplit/.Xressources
backup_latest/home/bnsplit/.local/share/
backup_latest/home/bnsplit/.cache/
backup_latest/home/bnsplit/.tmux
backup_latest/home/bnsplit/Obsidian/
*.tar.gz
*.knsv
_Archives/
