[Unit]
Description=Battery Management Script

[Service]
ExecStart=%h/.config/bnsplit/scripts/battery_alert.sh
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=default.target
