@import url("../hypr/colors/blur-colors-gtk.css");
@import url("../hypr/colors/solid-colors-gtk.css");

* {
    animation-duration: 0s;
  border-radius: 32px;
}


window{
  background-color: @color-blur3;
  border: 1px solid @color-solid3;
  color: @color-solid8;
  border-radius: 32px;
  /* margin-right: 100px; */
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: @color-blur1;
  border-color:@color-solid2;
}
/* .notification */
/*   color: @color-solid2; */
/* } */
window.notification-popups box.notifications {
    padding: 0;
}
.notification {
    min-width: 350px;
    border-radius: 16px;
    padding: 1em;
    margin: .5em;
    background-color: @color1;
}
.notification.critical {
    border: 1px solid lightcoral;
}
.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}
.body {
    color: @theme_unfocused_fg_color;
}
.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

label {
    color: @color-solid5;
}
