#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#191918",
    floating_border_color: "#B7C5A6",
    focused_border_color: "#c5c5c5",
    background_color: "#191918",
)