/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #191918 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c5c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c5c5; background-color: rgba(183,197,166,0.4)}
.cm-s-nqqwal { background-color: #191918; color: #c5c5c5; }
.cm-s-nqqwal span.cm-builtin { color: #B46C87; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #72725e; }
.cm-s-nqqwal span.cm-keyword { color: #568C89; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #A0A390; }
.cm-s-nqqwal span.cm-def { color: #D29E98; }
.cm-s-nqqwal span.cm-variable { color: #B7C5A6; }
.cm-s-nqqwal span.cm-variable-2 { color: #D29E98; }
.cm-s-nqqwal span.cm-string { color: #B46C87; }
.cm-s-nqqwal span.cm-string-2 { color: #B46C87; }
.cm-s-nqqwal span.cm-number { color: #D29E98; }
.cm-s-nqqwal span.cm-tag { color: #568C89; }
.cm-s-nqqwal span.cm-property { color: #B7C5A6; }
.cm-s-nqqwal span.cm-attribute { color: #B7C5A6; }
.cm-s-nqqwal span.cm-qualifier { color: #A0A390; }
.cm-s-nqqwal span.cm-meta { color: #D29E98; }
.cm-s-nqqwal span.cm-header { color: #568C89; }
.cm-s-nqqwal span.cm-operator { color: #568C89; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(210,158,152,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #568C89; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #191918); }
