/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0d1215 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c3c4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c3c4; background-color: rgba(73,170,190,0.4)}
.cm-s-nqqwal { background-color: #0d1215; color: #c2c3c4; }
.cm-s-nqqwal span.cm-builtin { color: #6E827A; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #59656d; }
.cm-s-nqqwal span.cm-keyword { color: #1F728C; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #497595; }
.cm-s-nqqwal span.cm-def { color: #2B93AA; }
.cm-s-nqqwal span.cm-variable { color: #49AABE; }
.cm-s-nqqwal span.cm-variable-2 { color: #2B93AA; }
.cm-s-nqqwal span.cm-string { color: #6E827A; }
.cm-s-nqqwal span.cm-string-2 { color: #6E827A; }
.cm-s-nqqwal span.cm-number { color: #2B93AA; }
.cm-s-nqqwal span.cm-tag { color: #1F728C; }
.cm-s-nqqwal span.cm-property { color: #49AABE; }
.cm-s-nqqwal span.cm-attribute { color: #49AABE; }
.cm-s-nqqwal span.cm-qualifier { color: #497595; }
.cm-s-nqqwal span.cm-meta { color: #2B93AA; }
.cm-s-nqqwal span.cm-header { color: #1F728C; }
.cm-s-nqqwal span.cm-operator { color: #1F728C; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(43,147,170,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #1F728C; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0d1215); }
